.user {
    position: relative;
    right: -85vw;
    color: white;
}

.logo_title {
    text-decoration: none;
    color: white;
    position: relative;
    left: 40px;
}

.A {
    text-decoration: none;
    width: 200px;
    height: 200px;
}



.boxstyle {
    width: 200px;
    height: 200px;
    display: grid;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 25px;

}

.boxstyle .content {
    display: grid;
    align-items: center;
    justify-items: center;
}

.box_1 {
    background: linear-gradient(135deg, rgba(241, 231, 103, 0.7) 0%, rgba(254, 182, 69, 0.7) 100%);
}

.box_1:hover {
    background: linear-gradient(45deg, rgba(241, 231, 103, 0.7) 0%, rgba(254, 182, 69, 0.7) 100%);
}


.box_2 {
    background: linear-gradient(135deg, rgba(210, 255, 82, 0.7) 0%, rgba(90, 186, 0, 0.7) 100%);
}

.box_2:hover {
    background: linear-gradient(45deg, rgba(210, 255, 82, 0.7) 0%, rgba(90, 186, 0, 0.7) 100%);
}


.box_3 {
    background: linear-gradient(135deg, rgba(73, 155, 234, 0.7) 0%, rgba(10, 91, 184, 0.7) 100%);
}

.box_3:hover {
    background: linear-gradient(45deg, rgba(73, 155, 234, 0.7) 0%, rgba(10, 91, 184, 0.7) 100%);
}


.box_4 {
    background: linear-gradient(135deg, rgba(132, 0, 255, 0.7) 0%, rgba(93, 0, 143, 0.7) 100%);
}

.box_4:hover {
    background: linear-gradient(45deg, rgba(132, 0, 255, 0.7) 0%, rgba(93, 0, 143, 0.7) 100%);
}


.box_5 {
    background: linear-gradient(135deg, rgba(255, 74, 240, 0.7) 0%, rgba(176, 0, 135, 0.7) 100%)
}

.box_5:hover {
    background: linear-gradient(45deg, rgba(255, 74, 240, 0.7) 0%, rgba(176, 0, 135, 0.7) 100%)
}


/* @media (max-width: 1000px) {
    .user {
        position: relative;
        right: -75vw;
        color: white;
    }


}

@media (max-width: 550px) {
    .user {
        position: relative;
        right: -70vw;
        color: white;
    }
} */