body{
    margin: 0%;
    padding: 0%;
    background: lightgray;
    font-family: sans-serif;
}
.logopng{
    height: 6.5rem;
    width: 5.5rem;
    margin-left: 1.2rem;
    margin-top: 1.2rem;
}
.leftnav{
    background: rgb(16, 23, 34);
    height: 100vh;
    width: 15vw;
    display: grid;
    grid-template-areas: "a";
    justify-content: center;
}


.leftnav .nav li i{
    margin-right: 10px;
}
.leftnav .nav li{
    margin: 10px 5px;
    font-size: 1.2rem;
    text-align: center;
}
.nav li a{
    color: white;
    text-decoration: none;
}
.nav li a:hover{
    color: rgb(255, 115, 0);
    text-decoration: none;
}